@import url('https://font.googleapis.com/css?family=Montserrat:500');

*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 94vh;
    background-color: rgb(189, 186, 186);
    font-family:sans-serif ;
    text-align: center;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction:column ;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #24252A;
    padding: 30px 10%;
    margin: 0;
}
.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a:hover{
    color: #0088a9
}

.nav__links li a{
    transition: all 0.3s ease 0s;
.main{
    display: flex;
    flex: 1;
}
.left{
    background:rgb(189, 186, 186) ;
    padding: 3em 0 3em 0;
    flex:1 1 100px;
    text-align:left;
}
main{
    background:rgb(189, 186, 186) ;
    padding: 3em 0 3em 0;
    flex:5 5 150px;
}
.right{
    background:rgb(189, 186, 186) ;
    padding: 3em 0 3em 0;
    flex:1 1 100px;
}
footer{
    background:grey;
}
@media all and (max-width: 500px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0 5em 0;
    }
}