*{
    margin: 5px;
    box-sizing: border-box;
}
body{
    height: 94vh;
    background-color: rgb(189, 186, 186);
    font-family:sans-serif ;
    text-align: center;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction:column ;
}
header{
    background: grey;

}
.main{
    display: flex;
    flex: 1;
}
.left{
    background:rgb(189, 186, 186) ;
    padding: 3em 0 3em 0;
    flex:1 1 100px;
}
main{
    background:rgb(189, 186, 186) ;
    padding: 3em 0 3em 0;
    flex:5 5 150px;
}
.right{
    background:rgb(189, 186, 186) ;
    padding: 3em 0 3em 0;
    flex:1 1 100px;
}
footer{
    background:grey;
}
@media all and (max-width: 500px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0 5em 0;
    }
}